{{define "title"}}About{{end}}
{{define "content"}}
<div class="row">
	<div class="large-12 columns">
		<h1>{{template "title" .}}</h1>
		<p>This project demonstrates how to structure and build a website using 
		the Go language without a framework.</p>
		{{template "footer" .}}
	</div>
</div>
{{end}}