/* Global Styles */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  line-height: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-top: 1.25rem;
}

a, .top-bar-section ul li > a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  outline: none;
}

p {
  line-height: 2rem;
}

/* Notification Styles */
#flash-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  margin: 0;
}

.alert-box-fixed {
  margin: 0 .5rem .5rem 0;
}