{{define "title"}}Add Note{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	
	<form id="form" method="post">
		<div class="form-group">
			<label for="note">Note</label>
			<div><textarea rows="5" class="form-control" id="note" name="note" placeholder="Type your note here..." value="" /></textarea></div>
		</div>
		
		<a title="Save" class="btn btn-success" role="submit" onclick="document.getElementById('form').submit();">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
		</a>
		<a title="Back to Notepad" class="btn btn-danger" role="button" href="{{$.BaseURI}}notepad">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
		</a>
		
		<input type="hidden" name="token" value="{{.token}}">
	</form>
	
	{{template "footer" .}}
</div>

{{end}}
{{define "foot"}}{{end}}