{{define "title"}}Go Web App{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>Hello, {{.first_name}}</h1>
	</div>
	<p>You have arrived. Click {{LINK "notepad" "here"}} to view your notepad.</p>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}